<div class="container">
  <div class="admin" [formGroup]="change">
      <div class="admin-title">
          <h1>ĐỔI MẬT KHẨU</h1>
      </div>
      <div class="admin-notifi">
        <p>Bạn nên chọn mật khẩu mạnh chưa từng dùng ở đâu khác</p>
      </div>
      <div class="change-password">
          <div class="change-password__name">
              <span>Mật khẩu mới</span>
              <div class="change-password__name-input">
                  <input type="password" formControlName="changePassword" (keydown.space)="$event.preventDefault()" (focus)="focus()">
                  <img class="clear" src="assets/img/delete-while.svg" alt="" (click)="handleClear()" *ngIf="f.changePassword.value">
              </div>
          </div>
          <div *ngIf="f.changePassword.invalid && (f.changePassword.dirty || f.changePasswordTwo.touched)">
            <p  class="alert-1 ng-star-inserted" *ngIf="!checkNullPass">
              Vui lòng nhập từ 6 đến 12 ký tự, không bao gồm dấu cách
            </p>
          </div>
          <p *ngIf="checkNullPass" class="alert-1 ng-star-inserted">
            Vui lòng nhập đầy đủ thông tin
          </p>
          <div class="change-password__name mg-top">
              <span>Nhập lại mật khẩu mới</span>
              <div class="change-password__name-input">
                  <input type="password" formControlName="changePasswordTwo" (keydown.space)="$event.preventDefault()" (focus)="focusTwo()">
                  <img class="clear" src="assets/img/delete-while.svg" alt="" (click)="handleClearTwo()" *ngIf="f.changePasswordTwo.value">
              </div>
          </div>
          <div *ngIf="f.changePasswordTwo.invalid && (f.changePasswordTwo.dirty || f.changePasswordTwo.touched)">
            <p *ngIf="!checkNullPassTwo" class="alert-1 ng-star-inserted">
              Vui lòng nhập từ 6 đến 12 ký tự, không bao gồm dấu cách
            </p>
          </div>

          <p *ngIf="checkNullPassTwo" class="alert-1 ng-star-inserted">
            Vui lòng nhập đầy đủ thông tin
          </p>

      </div>
      <div class="change-password__button">
        <button (click)="onSubmit()">
            <span>Lưu thay đổi</span>
        </button>
    </div>
  </div>
</div>
