.container {
  background: #0071BB;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .admin {
      background: #FFFFFF;
      border-radius: 30px;
      margin: auto;
      width: 792px;

      .admin-title {
          text-align: center;
          border-bottom: 1px solid #6A6A6A;
          transform: rotate(-0.07deg);
          padding: 36px 0 28px 0;

          h1 {
              font-weight: 700;
              font-size: 25px;
              line-height: 30px;
              color: #177DDC;
              margin: 0;
          }
      }

      .admin-notifi {
        margin: 89px 163px 0px 170px;
        p {
          font-weight: 400;
            font-size: 22px;
            line-height: 27px;
            color: #283446;
            margin: 0;
        }
      }

      .change-password {
          margin: 69px 163px 0 31px;

          .mg-top {
              margin-top: 26px;
          }

          .change-password__name {
              display: flex;
              align-items: center;
              span {
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: #272727;
                width:30%;
              }

              .change-password__name-input {
                  position: relative;
                  width: 100%;
                  input {
                      width: 100%;
                      padding: 14px 45px 11px 19px;
                      background: #FFFFFF;
                      border: 1px solid #B8BDC6;
                      border-radius: 8px;
                      &:focus {
                        outline: none;
                      }
                      &::placeholder {
                          font-weight: 400;
                          font-size: 18px;
                          line-height: 22px;
                          color: #283446;
                      }
                  }

                  img {
                      position: absolute;
                      top: 14px;
                      right: 10px;
                      cursor: pointer;
                  }
              }
          }
          p {
            font-style: italic;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: #b50014db;
            margin-top: 10px;
            margin-left: 136px;
          }


          }
          .change-password__button {
            display: flex;
            justify-content:center;
            width: 100%;
            padding-bottom: 59px;
            margin-top: 65px;

            button {
                background: #0071BB;
                border-radius: 2px;
                border: none;
                cursor: pointer;

                span {
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    color:#fff;
                    padding: 21px 47px 20px 47px;
                    display: block;
                }
            }
      }
  }
}
