<div class="container">
  <div class="admin">
      <div class="admin-title">
          <h1>ĐỔI MẬT KHẨU</h1>
      </div>
      <div class="change-password">
          <div class="change-password__name">
              <span>Mật khẩu mới</span>
              <div class="change-password__name-input">
                  <input type="text" placeholder="Vui lòng nhập mật khẩu mới">
                  <img src="assets/img/icon-show.svg" alt="">
              </div>
          </div>
          <div class="change-password__name mg-top">
              <span>Nhập lại mật khẩu mới</span>
              <div class="change-password__name-input">
                  <input type="text" placeholder="Vui lòng nhập lại mật khẩu mới">
                  <img src="assets/img/icon-show.svg" alt="">
              </div>
          </div>
          <div class="change-password__button">
              <button>
                  <span>Xác nhận</span>
              </button>
          </div>
      </div>
  </div>
</div>
