<div class="container-left">
  <div class="container-left__box">
      <div class="container-box__text">Tên Tỉnh/TP</div>
      <input type="text" placeholder="Nhập tên tỉnh/tp cần tìm" class="container-box__input">
  </div>

  <div class="container-left__box">
      <div class="container-box__text">Trạng thái</div>
      <div class="select-box">
          <select name="" class="select">
              <option value="">Bỏ kích hoạt</option>
          </select>
          <img src="./assets/img/check.jpg" alt="" class="check">
      </div>
  </div>
</div>
