<div class="container-box-btn">
  <div class="container-box__select">
      <button class="container-btn">
          <img src="./assets/img/search.svg" alt="" class="container-box-img">
          Tìm kiếm
      </button>
  </div>

  <div class="container-box__select">
      <button class="container-btn">
          <img src="./assets/img/add.svg" alt="" class="container-box-img">
          Thêm mới
      </button>
  </div>

  <div class="container-box__select">
      <button class="container-btn">
          <img src="./assets/img/down.svg" alt="" class="container-box-img">
          Xuất dữ liệu
      </button>
  </div>
</div>
