<app-table-base *ngIf="showForm == false" [tableData]="dataTable" [data]="dataSub" [listActive]="listActive"
	(callback)="handleOutput($event)"></app-table-base>

<div class="edit" *ngIf="showForm == true">
	<label for="title">Tiêu đề</label>
	<input type="text" name="title" id="title" [(ngModel)]="currentTitle">
	<p>Trạng thái</p>
	<div class="btn-status">
		<span (click)="changeStatus()" [ngClass]="{active: currentStatus}">{{currentStatus? "Kích hoạt" : "Không kích hoạt"}}</span>
	</div>
	<p>Nội dung</p>
	<app-html-editor [html]="currentHtml" (callback)="getData($event)"></app-html-editor>
	
</div>