.edit{
	height: 100%;
	overflow: auto;
	button{
			background: #0071BB;
			border-radius: 32px;
			font-weight: 700;
			font-size: 20px;
			line-height: 24px;
			text-align: center;
			color: #FFFFFF;
			outline: none;
			padding: 18px 57px;
			border: none;
			cursor: pointer;
		  	margin-top: 20px;
	}
label, p{
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #272727;
	width: 100%;
	margin-bottom: 10px;
	display: block;
}
	input{
		background: #FFFFFF;
		border: 1px solid #B8BDC6;
		box-sizing: border-box;
		border-radius: 8px;
		height: 48px;
		font-family: 'Inter';
		width: 100%;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	
	color: #283446;
	padding-left: 20px;
	margin-bottom: 20px;
	&:focus{
		outline: none;
	}}
}