<table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->


         <!-- Content Column -->
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> STT </th>
    <td mat-cell *matCellDef="let element">{{element.province_id}}</td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="job_title_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nghề Nghiệp </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tỉnh Thành </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Content Column -->
  <!-- <ng-container matColumnDef="content">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nội dung </th>
    <td mat-cell *matCellDef="let element"> {{element.content}} </td>
  </ng-container> -->

  <!-- Status Column -->
  <!-- <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Trạng thái </th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.status">kích hoạt</span>
      <span *ngIf="!element.status">Không kích hoạt</span>
    </td>
  </ng-container> -->

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let element">
      <div class="edit-icon">
        <div class="edit-icon-img" (click)="showEdit()">
          <img src="../../../../assets/img/edit.svg" alt="" class="img-edit">
        </div>
        <div class="edit-icon-img">
          <img src="../../../../assets/img/un-lock.svg" alt="" class="img-edit">
        </div>
      </div>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[ 5, 10, 25, 100]">
</mat-paginator>

<div class="modal" [ngClass]="{'show': showForm}">
  <div class="modal__overlay" (click)="hideForm()"></div>

  <div class="modal__body">
      <div class="modal__container">
          <div class="modal__header">
              <span class="modal__text">Thêm mới thông tin</span>
              <img src="./assets/img/close.svg" alt="" class="modal__close">
          </div>

          <div class="modal__content">
            <div class="modal__input">
              <span class="modal__input-text">Nghề Nghiệp</span>
              <div class="modal__select-box">
                  <select name="" id="" class="modal-select">
                      <option value="">Nghề Nghiệp Hiện tại</option>
                      <option *ngFor="let item of listJob" [value]="item.name">
                        {{item.name}}
                    </option>
                  </select>
                  <img src="./assets/img/check.jpg" alt="" class="modal-check-img">
              </div>
          </div>

              <div class="modal__input">
                  <span class="modal__input-text">Tên Tỉnh/TP *</span>
                  <div class="modal__select-box">
                      <select name="" id="" class="modal-select">
                          <option value="">Tên Tỉnh/TP</option>
                          <option *ngFor="let item of listProvince" [value]="item.name">
                            {{item.name}}
                        </option>
                      </select>
                      <img src="./assets/img/check.jpg" alt="" class="modal-check-img">
                  </div>
              </div>

              <div class="modal__input">
                  <span class="modal__input-text">Trạng thái</span>
                  <button class="modal-btn">
                      Kích hoạt
                      <img src="./assets/img/circle-ok.svg" alt="" class="modal-circle">
                  </button>
              </div>
          </div>

          <div class="modal__footer">
              <button class="footer-btn">Thêm mới</button>
          </div>
      </div>
  </div>
</div>
