.main-layout {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .main-layout-header {
    height: 15%;
    display: flex;
    // justify-content: flex-end;
    align-items: center;
    background: #E5E5E5;
    padding: 30px 15px;

    .container-box {
      display: flex;
      width: 100%;
      align-items: flex-end;
    }
  }

  .example-container {
    width: 100%;
    height: 100%;
  }

  .example-sidenav-content {
    height: 85%;
    width: calc(100%-300px);
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    padding: 15px;
  }

  .example-sidenav {
    // padding: 10px;
    // width: 298px;
    background: var(--color-list-nav);
  }

  ::ng-deep .mat-drawer-inner-container {
    overflow: hidden !important;
  }
}
.profile{
    width: 130px;
}
