.container-right {
  display: flex;

  .notificaton {
    position: relative;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    background: #fff;
    border-radius: 50px;

    .noti {
      width: 26px;
      height: 26px;
    }

    .doot {
      position: absolute;
      top: 5px;
      right: 0;
    }
  }
}
