/* You can add global styles to this file, and also import other style files */

@import "./themes/root-color.scss";
@import "./themes/global-class.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: 13px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: inherit;
}

input, button, textarea {
  font-family: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-weight: 300;
  font-size: 13px;
}

// @font-face {
//   font-family: utmAvo;
//   src: url("../font/Poppins-Regular.ttf");
// }

