<div class="container">
  <div class="admin">
      <div class="admin-title">
          <h1>QUÊN MẬT KHẨU</h1>
      </div>
      <div class="admin-forget">
          <div class="admin-forget__address">
              <span>Địa chỉ email</span>
              <div class="admin-forget__address-input">
                  <input type="text" placeholder="Vui lòng nhập địa chỉ email">
              </div>
          </div>
          <div class="admin-forget__button">
              <button [routerLink]="['/confirm-otp']">
                  <span>Xác nhận</span>
              </button>
          </div>
      </div>
  </div>
</div>
